.mt {
  margin-top: 10%;
}
.mb {
  margin-bottom: 10%;
}
.nav-home-margin {
  margin-top: 20%;
}
html {
  scroll-behavior: smooth;
}
section {
  min-height: 50vh;
  display: flex;
  /* margin-top: 5%; */
  justify-content: center;
  align-items: center;
}

.section-home {
  color: #e0ffff;
  height: auto;
  width: 100%;
  overflow: auto;
  /* background: transparent; */
  background-image: url("../../img/background/homebg.jpg");
  /* background: rgb(61, 54, 177);
  background: linear-gradient(
    356deg,
    rgba(61, 54, 177, 1) 0%,
    rgba(10, 105, 191, 1) 25%,
    rgba(10, 105, 191, 1) 100%
  ); */
}

.section-about {
  color: black;
  /* background-image: url("../../img/background/about.jpg"); */
  height: 5rem;
}
.section-features {
  color: #000000;
  height: auto;
  width: auto;
  overflow: hidden;
  background-color: #eaeff1;
  /* display: inline-block; */
  /* background-image: url("../../img/background/about.jpg"); */
  /* background-image: url("../../img/background/features.jpg"); */
}
.section-partners {
  color: black;
  height: auto;
  /* background-image: url("../../img/background/homebg.jpg"); */
  background: rgb(41, 72, 255);
  background: linear-gradient(
    360deg,
    rgba(41, 72, 255, 1) 30%,
    rgba(41, 72, 255, 1) 72%,
    rgba(249, 249, 249, 1) 100%
  );
}
.section-download {
  color: #e0ffff;
  background-image: url("../../img/background/download.jpg");
}
.section-faq {
  color: #42455a;
  /* overflow: auto; */

  /* background-image: url("../../img/background/about.jpg"); */
}
.sextion-testimonial {
  color: #42455a;
}

.section-contact {
  color: #ffffff;
  /* height: 100%; */
  /* margin-top: 10rem; */
  /* background: #021b79; */
  /* background-image: url("../../img/background/homebg.jpg"); */
  background: rgb(41, 72, 255);
  background: linear-gradient(
    360deg,
    rgba(41, 72, 255, 1) 30%,
    rgba(41, 72, 255, 1) 72%,
    rgba(249, 249, 249, 1) 100%
  );
}
/* section .container {
  margin: 100px;
} */
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}
.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
